.form-container {
  width: 60%;
  height: 549px;
  display: flex;
  align-items: flex-start;
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 10%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: 936px;
  box-shadow: 0px 5px 15px 0px var(--light-gray);
  animation: fadeInAnimation 0.5s ease-in;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: unset;
    height: unset;
    position: unset;
    transform: unset;
    box-shadow: unset;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 80px 20px 0px;
    box-sizing: border-box;
    gap: 30px;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 600px) {
      padding: 25px;
      background-color: var(--white);
      border-radius: 10px;
      box-shadow: 0px 5px 15px 0px var(--light-gray);
      max-width: 92%;
      transform: translateY(-60px);
      box-shadow: 0px 11px 22px -5px var(--light-gray);
    }
  }
}
