.form-summary {
  padding: 20px;
  background-color: hsla(231, 11%, 63%, 7%);
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  &__selected-plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--bottom-border {
      border-bottom: 0.5px solid hsla(231, 11%, 63%, 20%);
      padding-bottom: 25px;
      margin-bottom: 10px;

      @media screen and (max-width: 600px) {
        padding-bottom: 15px;
      }
    }
  }

  &__selected-plan {
    color: var(--marine-blue);
    font-size: 15px;
    font-weight: 600;
    opacity: 90%;
  }

  &__selected-plan-and-change-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__selected-plan-pricing {
    color: var(--marine-blue);
    font-weight: 600;
    font-size: 14px;
    opacity: 90%;
  }

  &__change {
    text-decoration: underline;
    cursor: pointer;
    opacity: 50%;
    font-size: 13px;
    background-color: transparent;
    border: none;
    width: fit-content;
    padding: 0;

    &:hover {
      color: var(--purplish-blue);
      opacity: 90%;
    }
  }

  &__sub-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__total {
    padding: 0 20px;
  }
}

.form-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
