.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;

  &__title {
    color: var(--marine-blue);
    font-size: 34px;
  }

  &__typography {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__description {
    text-align: center;
    font-size: 14.5px;
    opacity: 40%;
  }
}
