.plan-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__upper-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.plans {
  display: flex;
  gap: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
