@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "./style/style.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

* {
  font-family: Ubuntu, sans-seif;
  box-sizing: border-box;
}

body {
  background-color: var(--magnolia);
}

@keyframes fadeInAnimation {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
